#main-box {
    display: flex;
    flex-flow: column;
    height: 92%;
}

#note-box {
    background-color: rgba(206, 197, 197, 0.445);
    flex:  1;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#note {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
    height: auto;
    width: auto;
    overflow-y: auto;
}

#footer {
    display: block;
 }

.textbox {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

.textbox:focus{
    outline:none;
    border-color:blue;
    box-shadow:0 0 10px blue;
}

#main .nota {
    display: block;
    width: fit-content;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;

    /* unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.barred {
    position: relative;
}
  
.barred:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
}

.tool {
    width: 40px;
    height: 40px;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container {
    position: relative;
    text-align: center;
    font-size: small;
    display: inline-block;
    vertical-align:middle;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
    height: fit-content;
  }

.end {
    filter: brightness(.5);
}